/* Start Header */
.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
  }
  .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
  }
  .logoImage {
    height: 40px;
    padding-left: 30px;
  }
  .nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .toggleMenu {
    color:white;
    font-size: 22px;
  }
  @media (min-width: 768px) {
    .toggleMenu {
      display: none;
    }
  }
  .navList {
    display: flex;
  }
  @media (max-width: 767px) {
    .navList {
      display: none;
    }
    .toggleMenu:hover + .navList {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0 0 0 / 50%);
    }
    .navLink {
      padding: 15px !important;
    }
  }
  .navLink {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
  .active,
  .navLink:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    border-left: 1px solid white;
  }
  .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  /* End Header */
  